{% extends "base.html" %}
{% load i18n l10n admin_urls static %}

{% block breadcrumbs_last %}{{ title }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
<form id="donate_form" method="post" novalidate autocomplete="off">
    {% csrf_token %}
    <div>
        <fieldset class="module aligned ">
            {% for field in form %}
                <div class="form-row field-{{ field.name }}">
                    {{ field.errors }}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.field.help_text %}
                            <p class="help">{{ field.field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Save' %}" class="default">
        </div>
    </div>
</form>
{% endblock %}