
.modal_control .cancel-link {
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    color: var(--button-fg) !important;
    background: var(--close-button-bg) !important;
    margin: 0 0 0 10px;
}

.modal_control input[type="button"] {
    background: var(--delete-button-bg);
    border-radius: 4px;
    padding: 10px 15px;
    color: var(--button-fg);
}

#modal_body {
    margin: 0 0 20px;
}
